* {
    padding: 0;
    margin: 0;
}

.container {
    position: sticky;
    top: 0px;
}

.container2 div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

#box1,
#box2,
#box3 {
    background-color: aquamarine;
    border: 5px solid red;
}


.navbar1 ul {
    list-style: none;
    font-weight: bolder;
}
.navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}
.navbar1 ul {
    display: flex;
    justify-content:space-around;
    font-family: "Playfair Display", serif;
    gap: 60px;

}

.navbar2 ul {
    background-size: cover;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Playfair Display", serif;
    padding: 15px;
}

.navbar2 div {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
}

.flex section {
    display: flex;
    gap: 50px;
}
.flex a{
    font-weight: bolder;
}


section a {
    text-decoration: none;
    color: black;
}


#ch1 {
    list-style: none;
    font-weight: bold;
    font-family: "Anton", sans-serif;
    color: rgb(92, 9, 92);
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 70px;

}

.vl {
    border: 1px solid black;
    height: 30px;
}

.navbar2 li {
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display", serif;
    padding-bottom: 20px;
    font-weight: bolder;

}

.head1 input {
    /* border: none; */
    font-size: 15px;
    padding: 12px;
    padding-right: 100px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.part1 div {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    font-weight: bolder;
   
}



#check{
    display: none;
}
#checkbtn{
    display: none;
    font-size: 30px;
}
#check:checked ~ .navbar1 ul{
    left: 0;
}
@media(max-width: 950px){
    #checkbtn{
        display: block;
    }
    .navbar1 ul{
        display: block;
        text-align: center;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
    }
    .navbar1 ul li{
        font-size: 40px;
        padding: 15px;
        text-align:center;
    }
    .vl{
        display: none;
    }
    .navbar2{
        display: none;
    }
}

.grid_con1{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    gap: 50px;
    background-image: url(../images/navb.jpg);
    background-size: cover;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    margin-top: -1px;
}
.grid_ch1:hover{
    border: 5px solid rgb(0, 42, 255);
}.grid_ch2:hover{
    border: 5px solid rgb(0, 42, 255);
}.grid_ch3:hover{
    border: 5px solid rgb(0, 42, 255);
}
.grid_ch1,.grid_ch2,.grid_ch3{
    background-color: lightgrey;
    border: 2px solid rgb(255, 85, 0);
    border-radius: 20px;
}

.grid_ch1 {
    
    padding: 70px;
    padding-top: 250px;
    margin-left: 50px;
    background-image: url(../images/virat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slider1;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.grid_ch2 {
    /* height: 300px; */
    padding: 50px;
    padding-top: 190px;
    margin-top: 250px;
    margin-bottom: 50px;
    background-size: cover;
    animation-name: slider2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}
.grid_ch3{
    padding: 50px;
    padding-top: 190px;
    margin-bottom: 200px;
    margin-right: 50px;
    background-size: cover;
    animation-name: slider3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#gridbtn1{
    margin-top: -210px;
    margin-left: 50px;
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;   
}
#gridbtn1:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn2:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn3:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn2{
    margin-top: -100px;
  
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;
}
#gridbtn3{
    margin-top: -500px;
   
    margin-right: 45px;
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 15px;
    /* text-shadow: 2px 2px 2px green; */
    border-radius: 30px;
}

@media screen and (min-width:400px) and (max-width:800px){
    .grid_con1{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
    }
    .grid_ch1,.grid_ch2,.grid_ch3{
        padding: 100px;
    }
    #gridbtn1{
        margin-top: -2000px;
    }
    #gridbtn2{
        margin-top: -1100px;
    }
    #gridbtn3{
        margin-top: -600px;
    }
    
}
@media screen and (max-width:399px){
    .grid_con1{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
    }
    .grid_ch1,.grid_ch2,.grid_ch3{
        padding: 70px;
    }
    #gridbtn1{
        margin-top: -1800px;
    }
    #gridbtn2{
        margin-top: -1000px;
    }
    #gridbtn3{
        margin-top: -650px;
    }
}

@keyframes slider1 {
    0% {
        background-image: url(../images/english-willow-cricket-bat.jpg);
    }

    50% {
        background-image: url(../images/grid2.jpg);
    }

    75% {
        background-image: url(../images/equipment.jpg);
    }

    100% {
        background-image: url(../images/baseball.jpg);
    }
}
@keyframes slider2 {
    0% {
        background-image: url(../images/lcd.avif);
    }
    25%{
        background-image: url(../images/pexels-eyupcan-timur-424989336-21578418.jpg);
    }

    50% {
        background-image: url(../images/pexels-monoar-rahman-22660-109371.jpg);
    }

    75% {
        background-image: url(../images/iphone.jpg);
    }

    100% {
        background-image: url(../images/ipad.jpg);
    }
}
@keyframes slider3 {
    0% {
        background-image: url(../images/virat.jpg);
    }
    25%{
        background-image: url(../images/saree1.jpg);
    }

    50% {
        background-image: url(../images/winter1.jpg);
    }

    75% {
        background-image: url(../images/tshirt.jpg);
    }

    100% {
        background-image: url(../images/jeans.jpg);
    }
}

/* grid 2..................................... */
.grid_con2{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    gap: 30px;
    background-image: url(../images/grid2bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    margin-top: -1px;
}

.grid_ch1a:hover{
    border: 5px solid rgb(0, 42, 255);
}.grid_ch2a:hover{
    border: 5px solid rgb(0, 42, 255);
}.grid_ch3a:hover{
    border: 5px solid rgb(0, 42, 255);
}.grid_ch4a:hover{
    border: 5px solid rgb(0, 42, 255);
}

.grid_ch1a,.grid_ch2a,.grid_ch3a,.grid_ch4a{
    background-color: lightgrey;
    border: 2px solid orangered;
    border-radius: 10px;
}

.grid_ch1a {
    
    padding: 50px;
    padding-top: 250px;
    margin-left: 50px;
    background-image: url(../images/virat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slider1a;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.grid_ch2a {
    /* height: 300px; */
    padding: 50px;
    padding-top: 190px;
    margin-top: 250px;
    margin-bottom: 50px;
    background-size: cover;
    animation-name: slider2a;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}
.grid_ch3a{
    padding: 50px;
    padding-top: 190px;
    margin-bottom: 200px;
    margin-right: 50px;
    background-size: cover;
    animation-name: slider3a;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.grid_ch4a{
    padding: 50px;
    padding-top: 190px;
    /* margin-bottom: 10px; */
    margin-right: 50px;
    background-size: cover;
    animation-name: slider4a;
    animation-duration: 21s;
    animation-iteration-count: infinite;
}
#gridbtn1a{
    margin-top: -210px;
    margin-left: 50px;
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;   
}
#gridbtn2a{
    margin-top: -100px;
  
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;
}
#gridbtn3a{
    margin-top: -500px;
    padding:5px;
    margin-right: 45px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 2px 2px 2px green; */
    border-radius: 30px;
}
#gridbtn4a{
    margin-top: -300px;
    padding:5px;
    margin-right: 45px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 2px 2px 2px green; */
    border-radius: 30px;
}
#gridbtn1a:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn2a:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn3a:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn4a:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}


@media screen and (min-width:400px) and (max-width:800px){
    .grid_con2{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4,auto);
    }
    .grid_ch1a,.grid_ch2a,.grid_ch3a,.grid_ch4a{
        padding: 100px;
    }
    #gridbtn1a{
        margin-top: -2400px;
    }
    #gridbtn2a{
        margin-top: -1500px;
    }
    #gridbtn3a{
        margin-top: -990px;
    }
    #gridbtn4a{
        margin-top: -190px;
    }
}
@media screen and (max-width:399px){
    .grid_con2{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4,auto);
    }
    .grid_ch1a,.grid_ch2a,.grid_ch3a,.grid_ch4a{
        padding: 70px;
    }
    #gridbtn1a{
        margin-top: -2050px;
    }
    #gridbtn2a{
        margin-top: -1250px;
    }
    #gridbtn3a{
        margin-top: -850px;
    }
    #gridbtn4a{
        margin-top: -150px;
    }
}

@keyframes slider1a {
    0% {
        background-image: url(../images/pufium.jpg);
    }

    50% {
        background-image: url(../images/helmet.jpg);
    }

    75% {
        background-image: url(../images/cream.jpg);
    }

    85% {
        background-image: url(../images/ring.jpg);
    }
    100%
    {
        background-image: url(../images/led.jpg);
    }
}
@keyframes slider2a {
    0% {
        background-image: url(../images/sunglass.jpg);
    }
    25%{
        background-image: url(../images/shoes.jpg);
    }

    50% {
        background-image: url(../images/sliper.jpg);
    }

    75% {
        background-image: url(../images/speaker.jpg);
    }

    100% {
        background-image: url(../images/bag.jpg);
    }
}
@keyframes slider3a {
    0% {
        background-image: url(../images/watch.jpg);
    }
    25%{
        background-image: url(../images/cloth1.jpg);
    }

    50% {
        background-image: url(../images/hair.jpg);
    }

    75% {
        background-image: url(../images/cloth.jpg);
    }

    100% {
        background-image: url(../images/jeans.jpg);
    }
}
@keyframes slider4a {
    0% {
        background-image: url(../images/book.jpg);
    }
    25%{
        background-image: url(../images/cap.jpg);
    }

    50% {
        background-image: url(../images/charge.jpg);
    }

    75% {
        background-image: url(../images/chair.jpg);
    }

    100% {
        background-image: url(../images/cover.jpg);
    }
}







/* about page css .......... */
.about1{
   
    font-family: "Playfair Display", serif;
}
.aboutdiv0 h1{
    text-transform: uppercase;
    margin-bottom: 13px;
    text-align: center;
   font-size: 50px;
}

.aboutdiv{
    display: flex;
    justify-content: space-around;
    text-align: center;
  background-color: darkgray;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  

}
.aboutdiv h1{
    text-transform: uppercase;
    margin-bottom: 13px;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-top: 10px;
}
.aboutdiv ul{
    list-style: none;
    
    font-size: 15px;  
}
.aboutdiv3 i{
    padding: 10px;
    font-size: 40px;
}
#play{
    border-radius: 10px;
}
@media screen and (max-width: 800px)and (min-width: 400px){
    .aboutdiv{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .aboutdiv3 {
   display: flex;
    }
    .aboutdiv3 h1 {
        display: none;
    }
}
@media screen and (max-width: 400px){
    .aboutdiv{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
}

/* page 2.............. */
.page2_1{
    display: flex;
    gap: 50px;
    margin-top: 90px;
    
}
.page2_1 img{
    margin-left: 100px;
   
}
.page2_1 span{
font-size: 60px; 
font-family: "Playfair Display", serif;
}
#span1{
    font-size: 30px;
    font-family: "Playfair Display", serif;
   
}
#span2{
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
#span3{
   
    font-size: 20px;
    font-family: "Playfair Display", serif;
    margin-left: 100px;
    margin-right: 20px;   
}

/* page 7 Sports & Fitness */
.page7_1 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.page7_1 h2{
    text-align: center;
    font-family: "Edu AU VIC WA NT Arrows", serif;
}
.page7_1 li{
    border: 2px solid gray;
padding: 5px;
}
#page7a{
    font-size: 35px; 
}
#page7b{
    font-size: 25px; 
    text-decoration:line-through;
    font-weight:lighter;
    color: orange;
    padding: 5px;
}
#page7c{
    font-size: 15px; 
    color: green;
}
#page7d{
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-style: italic;
}
.page7_0{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    font-weight: bolder;   
    margin: 30px;
}
.page7_1 a:hover{
    border: 5px solid rgb(140, 255, 0);
}
@media screen and (max-width: 600px) {
    .page7_1 ul{
    flex-direction: column;  
    }
}

/*  detail page............................ */
.detailpage{
    display: flex;
}
.detailpage ul{
list-style: none;
padding-top: 50px;
}
#detail1{
    border: 2px solid gray;
    padding: 5px;
    background-color: brown;
}
.detailpage div{
    background-color:whitesmoke;
    border: 5px solid gray;
    padding: 15px;
   margin-right: 80px;
   margin-left: 40px;
}
.detailpage1{
    background-color: white;
    border: 1px solid gray;   
}
.detailpage1 button{
margin-left: 200px;
border-radius: 5px;
padding-left: 75px;
padding-right: 75px;
background-color: purple;
color: whitesmoke;
font-weight: bolder;
font-size: 40px;
font-family: "Anton SC", sans-serif;
}
.detailpage1 button:hover{
    background-color: yellow;
    color: blue;
    border-radius: 15px;
    padding-left: 75px;
    padding-right: 75px;
}
#detaila{
   font-size: 50px;
}
#detailb{
    font-size: 30px;
    color:orange;
    margin-left: 10px;
    text-decoration: line-through;
 }
 #detailc{
    font-size: 15px;
    color:green;
    margin-left: 5px;
 }
 #detaild{
    font-size: 25px;
    color:rgb(12, 85, 241);
    background-color: rgb(250, 234, 10);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
 }
 #detail0{
    font-family: "Anton SC", sans-serif;
 }
 .detailpage p{
    font-family: "Playfair Display", serif;
 }
 @media screen and (max-width: 600px) {
    .detailpage{
    flex-direction: column;  
    }
    .detailpage1 img{
        height: 290px;
        width: 290px;
        
    }
    .detailpage1 button{
        margin-left: -0px;
    }
}

 

 /* form page............................. */



  .form1{
  background-image: url(../images/form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }
 
 .form1 h1{
    text-align: center;
    font-weight:bolder;
    font-size: 50px;
    border: 2px solid green;
 }
 .form1 h2{
    text-align: center;
    font-size: 40px;
 }
 .form2{
     margin: 10px;
    margin-left: 630px;
    padding: 10px;
    font-size: 20px;
 }
 .form1 button{
    background-color: darkmagenta;
    border-radius: 10px;
    color: aliceblue;
    font-family: "Anton SC", sans-serif;
    padding-right: 45px;
 }
 .form1 button:hover{
    background-color: yellow;
    color: blue;
    border-radius: 15px;
    font-family: "Anton SC", sans-serif;
 }
 @media screen and (max-width: 800px) {
    .form2{
       margin-left: 240px;
    }
}
@media screen and (max-width: 400px) {
    .form2{
       margin-left: 60px;
    }
}

 /* payment page................................. */
 .payment h1{
    font-size: 40px;
    font-family: "Anton SC", sans-serif;
 }
 .payment{
    background-image: url(../images/payment3.jpg);
    background-size: cover;
    text-align: center;
    border: 2px solid rgb(242, 244, 246);
margin-left: 500px;
margin-right: 500px; 
font-family: "Playfair Display", serif;
color:whitesmoke;
}
.payment div details{
padding: 5px;
font-size: 25px;
}
#payment{
   margin-left: 650px;
   margin-top: 20px;
    background-color: darkmagenta;
    border-radius: 10px;
    color: aliceblue;
    font-family: "Anton SC", sans-serif;
    padding-right: 45px;
    padding: 10px;
    font-size: 40px;
}
#payment:hover{
    background-color: yellow;
    color: blue;
    border-radius: 15px;
    font-family: "Anton SC", sans-serif;
 }
 .payment0{
background-image: url(../images/payment4.jpg);
background-size: cover;
 }
 .payment div details:hover{
    /* background-color: yellow; */
    /* color: blue; */
    border-radius: 15px;
    font-family: "Anton SC", sans-serif;
 }
 @media screen and (max-width: 800px) {
   .payment{
    margin-left: 100px;
margin-right: 100px; 
   }
   #payment{
    margin-left: 250px;
    margin-right: 100px; 
   }
}
@media screen and (max-width: 400px) {
    .payment{
     margin-left: 100px;
 margin-right: 100px; 
    }
    #payment{
     margin-left: 250px;
     margin-right: 100px; 
    }
 }

 /* .payment2 page.......................... */

 .payment2{
    text-align: center;
    margin-top: 100px;
    color: whitesmoke;
    background-image: url(../images/payment2.2bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   padding-top: 190px;
   padding-bottom: 190px;
   margin-top: -1px;
 }
 .payment2 h1{
    font-family: "Anton SC", sans-serif;
 }
 .payment2 p{
    font-size: 30px;
    font-family: "Playfair Display", serif;
 }