* {
    padding: 0;
    margin: 0;
}

.container {
    position: sticky;
    top: 1px;
}

.container2 div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

#box1,
#box2,
#box3 {
    background-color: aquamarine;
    border: 5px solid red;
}


.navbar1 ul {
    list-style: none;
    font-weight: bolder;
}
.navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}
.navbar1 ul {
    display: flex;
    justify-content:space-around;
    font-family: "Playfair Display", serif;
    gap: 60px;

}

.navbar2 ul {
    background-size: cover;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Playfair Display", serif;
    padding: 15px;
}

.navbar2 div {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
}

.flex section {
    display: flex;
    gap: 50px;
}
.flex a{
    font-weight: bolder;
}


section a {
    text-decoration: none;
    color: black;
}


#ch1 {
    list-style: none;
    font-weight: bold;
    font-family: "Anton", sans-serif;
    color: rgb(92, 9, 92);
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 70px;

}

.vl {
    border: 1px solid black;
    height: 30px;
}

.navbar2 li {
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display", serif;
    padding-bottom: 20px;
    font-weight: bolder;

}

.head1 input {
    /* border: none; */
    font-size: 15px;
    padding: 12px;
    padding-right: 100px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.part1 div {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    font-weight: bolder;
    /* text-shadow: 3px 4px 1px gray; */
}



#check{
    display: none;
}
#checkbtn{
    display: none;
    font-size: 30px;
}
#check:checked ~ .navbar1 ul{
    left: 0;
}
@media(max-width: 950px){
    #checkbtn{
        display: block;
    }
    .navbar1 ul{
        display: block;
        text-align: center;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
    }
    .navbar1 ul li{
        font-size: 50px;
        padding: 15px;
        text-align:center;
    }
    .vl{
        display: none;
    }
    .navbar2{
        display: none;
    }
}

.grid_con1{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    gap: 50px;
    background-image: url(../images/navb.jpg);
    background-size: cover;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    margin-top: -1px;
}
.grid_ch1,.grid_ch2,.grid_ch3{
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 20px;
}

.grid_ch1 {
    
    padding: 70px;
    padding-top: 250px;
    margin-left: 50px;
    background-image: url(../images/virat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slider1;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.grid_ch2 {
    /* height: 300px; */
    padding: 50px;
    padding-top: 190px;
    margin-top: 250px;
    margin-bottom: 50px;
    background-size: cover;
    animation-name: slider2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}
.grid_ch3{
    padding: 50px;
    padding-top: 190px;
    margin-bottom: 200px;
    margin-right: 50px;
    background-size: cover;
    animation-name: slider3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#gridbtn1{
    margin-top: -210px;
    margin-left: 50px;
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;   
}
#gridbtn1:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn2:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn3:hover{
    background-color:  rgb(244, 37, 244);
    text-shadow: 2px 2px 2px green;
    color: aliceblue;
}
#gridbtn2{
    margin-top: -100px;
  
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 20px;
    /* text-shadow: 3px 4px 1px green; */
    border-radius: 30px;
}
#gridbtn3{
    margin-top: -500px;
   
    padding:5px;
    font-family: "Playfair Display", serif;
    font-weight:bolder;
    font-size: 15px;
    text-shadow: 2px 2px 2px green;
    border-radius: 30px;
}

@media screen and (min-width:400px) and (max-width:600px){
    .grid_con{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
    }
    .grid_ch1,.grid_ch2,.grid_ch3{
        padding: 100px;
    }
    
}
@media screen and (max-width:399px){
    .grid_con{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
    }
    .grid_ch1,.grid_ch2,.grid_ch3{
        padding: 70px;
    }
}

@keyframes slider1 {
    0% {
        background-image: url(../images/english-willow-cricket-bat.jpg);
    }

    50% {
        background-image: url(../images/grid2.jpg);
    }

    75% {
        background-image: url(../images/equipment.jpg);
    }

    100% {
        background-image: url(../images/baseball.jpg);
    }
}
@keyframes slider2 {
    0% {
        background-image: url(../images/lcd.avif);
    }
    25%{
        background-image: url(../images/pexels-eyupcan-timur-424989336-21578418.jpg);
    }

    50% {
        background-image: url(../images/pexels-monoar-rahman-22660-109371.jpg);
    }

    75% {
        background-image: url(../images/i\ phone.jpg);
    }

    100% {
        background-image: url(../images/tablet.jpg);
    }
}
@keyframes slider3 {
    0% {
        background-image: url(../images/virat1.jpg);
    }
    25%{
        background-image: url(../images/saree.jpg);
    }

    50% {
        background-image: url(../images/winter.jpg);
    }

    75% {
        background-image: url(../images/ritik.jpg);
    }

    100% {
        background-image: url(../images/jeans.jpg);
    }
}



